  <div class="container body">
    <h1>Títulos del código penal de Yucatán</h1>
    <hr>
    <p>En esta sección se encuentra los diferentes títulos del código penal.</p>
    <div class="row body">
        <div class="col-sm-4" *ngFor="let dato of titles | async | select: 'allTit' ">
            <div class="card rm">
                <h5 class="head"><a routerLink="/titulos/capitulo/{{dato.name}}" ngbTooltip="Da clic para ver más"> Título {{dato.name}}</a>  <span class="glyph-icon flaticon-libra float-right"></span></h5>
                <img class="card-img-top" src="assets/titulos/{{dato.picture}}" alt="Card image cap">
                <div class="card-body cb">
                    <p class="card-text">{{dato.description}}</p>
                     <!-- <div class="" *ngFor="let chap of dato.chapterSet.edges | keys">
                       {{chap.node.chapter}}
                    </div> -->
                </div>
            </div>
        </div>
    </div>
  </div>
