
  <div class="container body">

    <div class="row body">
        <div class="col-sm-4">
            <div class="card rm">
                <h5 class="head"><a routerLink="/capitulos">Título Primero</a>  <span class="glyph-icon flaticon-libra float-right"></span></h5>
                <img class="card-img-top" src="vendor/imagenes/delito_1.jpg" alt="Card image cap">
                <div class="card-body cb">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card rm">
              <h5 class="head"><a href="">Título Segundo</a>  <span class="glyph-icon flaticon-libra float-right"></span></h5>
              <img class="card-img-top" src="vendor/imagenes/delito_1.jpg" alt="Card image cap">
                <div class="card-body cb">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card rm">
              <h5 class="head"><a href="">Título Tercero </a>  <span class="glyph-icon flaticon-libra float-right"></span></h5>
              <img class="card-img-top" src="vendor/imagenes/delito_1.jpg" alt="Card image cap">
                <div class="card-body cb">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-sm-4">
            <div class="card rm">
              <h5 class="head"><a href="">Título Cuarto</a>  <span class="glyph-icon flaticon-libra float-right"></span></h5>
              <img class="card-img-top" src="vendor/imagenes/delito_1.jpg" alt="Card image cap">
                <div class="card-body cb">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card rm">
              <h5 class="head"><a href="">Título Quinto</a>  <span class="glyph-icon flaticon-libra float-right"></span></h5>
                <img class="card-img-top" src="vendor/imagenes/delito_1.jpg" alt="Card image cap">
                <div class="card-body cb">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card rm">
              <h5 class="head"><a href="">Título Sexto</a> <span class="glyph-icon flaticon-libra float-right"></span></h5>
              <img class="card-img-top" src="vendor/imagenes/delito_1.jpg" alt="Card image cap">
                <div class="card-body cb">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>

    </div>
