    <!-- Page Content -->
    <ngb-carousel class="carousel">
      <ng-template ngbSlide>
        <img class="foto"src="assets/merida.jpg"  alt="Random first slide">
        <div class="carousel-caption">
          <h1 class= "femi">Bienvenido al Código Penal del Estado de Yucatán</h1>
          <h4 class="femi">Aquí encontrarás resúmenes y clasificaciones de los artículos y capítulos</h4>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img class="foto"src="assets/feminicidio.jpg" alt="Random second slide">
        <div class="carousel-caption">
          <h2 class="femi">Código penal de Yucatán debe homologarse con Federal para juzgar feminicidio</h2>
          <!-- <h4 class="femi">Noticias.</h4> -->
          <a href="http://www.cimacnoticias.com.mx/noticia/c-digo-penal-de-yucat-n-debe-homologarse-con-federal-para-juzgar-feminicidio" class="btn btn-primary">Ver más</a>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img class="foto" src="assets/chichen_itza.jpg"  alt="Random third slide">
        <div class="carousel-caption">
          <h2></h2>
          <p></p>
        </div>
      </ng-template>
    </ngb-carousel>

    <div class="container body ">


      <!-- Jumbotron Header -->
      <!-- <header class="jumbotron my-4">
        <h1 class="display-3">¡Bienvenido!</h1>
        <p class="lead">Proyecto FINAL. MUCHO TEXTO MUCHO TEXTO MUCHO TEXTO MUCHO TEXTO MUCHO TEXTO</p>
        <a routerLink="/titulos" class="btn btn-primary btn-lg">Ver delitos!</a>
      </header> -->

      <!-- <div class="row row-cards sr-icons">
        <h3>Clasificaciones de Crimenes</h3>
        <p>En esta sección se tienen las diferentes clasificaciones de los crimenes y sus tipos.</p>
        <hr>
      </div>
      <div class="category" *ngFor="let dato of categories.edges| keys">
        {{dato.node.name}}
        <ngb-tabset >
          <div *ngFor="let crime of dato.node.crimetypeSet.edges| keys">
            <ngb-tab title="{{crime.node.crimeName}}" >
              <ng-template ngbTabContent>
                <p>{{crime.node.description}}</p>
              </ng-template>
            </ngb-tab>
          </div>
        </ngb-tabset>
      </div> -->
      <section class="row-cards primary" id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h2 class="section-heading text-white">Sobre la página</h2>
              <hr class="light my-4">
              <p class="text-faded mb-6 text-white">Encontrarás un catálogo de delitos establecidos en el Código Penal del Estado de Yucatán.</p>
              <!-- <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a> -->
            </div>
          </div>
        </div>
      </section>


      <div class="row row-cards text-center">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading"><span>Títulos más consultados</span></h2>
        </div>
      </div>
            <hr>
      <div class="row text-center row-cards">
        <div class="col-lg-3 col-md-6 mb-4" *ngFor="let dato of titles.edges| keys">
          <div class="card">
            <img class="card-img-top" src="assets/titulos/{{dato.node.picture}}" alt="">
            <div class="card-body">
              <h4 class="card-title">Título {{dato.node.name}}</h4>
              <p class="card-text">{{dato.node.description}}</p>
            </div>
            <div class="card-footer">
              <a routerLink="/titulos/capitulo/{{dato.node.name}}" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
      <div class="row row-cards">
        <div class="col-sm-4 col-md-4 mb-4">
          <div class="card secondary">
            <div class="card-body">
              <h4 class="card-title">Código Penal Federal</h4>
              <p class="card-text">Si desea saber acerca del código penal Federal puede vistar el siguiente enlace.</p>
              <a target="_blank" href="http://www.diputados.gob.mx/LeyesBiblio/pdf/9_171117.pdf" class="btn primary">¡Saber más!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 mb-4">
          <div class="card secondary">
            <div class="card-body">
              <h4 class="card-title">Constitución Política de los Estados Unidos Mexicanos</h4>
              <p class="card-text"> Un enlace para ver más a detalle la constitución mexicana</p>
              <a target="_blank" href="http://www.dof.gob.mx/constitucion/marzo_2014_constitucion.pdf" class="btn primary">¡Saber más!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 mb-4">
          <div class="card secondary">
            <div class="card-body">
              <h4 class="card-title">Reglamento de Vialidad</h4>
              <p class="card-text" >En el siguiente enlace podrá encontrar el documento sobre vialidad del estado de Yucatán.</p>
              <a target="_blank" href="http://www.yucatan.gob.mx/docs/pdf/Reglamento_vialidad.pdf" class="btn primary">¡Saber más!</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row primary">
        <div class="col-sm-6 col-md-6 mb-4">
          <div class="">
            <div class="card-body text-center">
               <h2 class="card-text text-white">El contenido de esta página se obtuvo del libro "<i>Legislación Penal del Estado de Yucatán</i>"</h2>
              <!-- <a target="_blank" href="http://www.diputados.gob.mx/LeyesBiblio/pdf/9_171117.pdf" class="btn primary">¡Saber más!</a> -->
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 mb-4">
          <div class="">
            <div class="card-body text-center">
              <!-- <h2 class="card-title">Reglamento de vialidad</h2> -->
              <!-- <p class="card-text" ><img class="text_img" src="assets/legislacion.jpg" alt=""></p> -->
              <!-- <a target="_blank" href="http://www.yucatan.gob.mx/docs/pdf/Reglamento_vialidad.pdf" class="btn primary">¡Saber más!</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
