
    <!-- Page Content -->
    <div class="container body">

      <!-- Introduction Row -->
      <h1 class="my-4">Nostros
        <small>¡Mucho Gusto!</small>
      </h1>
      <hr>
      <p>Este catálogo digital fue desarrollado con el objetivo de poder revisar y clasificar los delitos en particular del código penal del estado de Yucatán.</p>
      <p>Este proyecto fue diseñado y editado por las siguientes personas, estudiantes de la carrera criminología y criminalística del CLEU:</p>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">El Equipo</h2>
  <hr>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="  img-fluid d-block mx-auto" src="assets/amairani.jpg" height="200" width="200"alt="">
          <h3>Amairani Anel Coba
            <!-- <small>estudiante</small> -->
          </h3>
          <!-- <p>¿Que funciones tienen en el equipo? ¡mantener descripción corta! ¡Agregar otro datos!</p> -->
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="  img-fluid d-block mx-auto" src="assets/ingrid.jpeg" height="100" width="250"alt="">
          <h3>Ingrid Abigail Flores Tun
            <!-- <small>estudiante</small> -->
          </h3>
          <!-- <p>¿Que funciones tienen en el equipo? ¡mantener descripción corta! ¡Agregar otro datos!</p> -->
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="  img-fluid d-block mx-auto" src="assets/maria.jpg" alt="">
          <h3>María de los Ángeles Ruz Soberanis
            <!-- <small>estudiante</small> -->
          </h3>
          <!-- <p>¿Que funciones tienen en el equipo? ¡mantener descripción corta! ¡Agregar otro datos!</p> -->
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="  img-fluid d-block mx-auto" src="assets/xochilt.jpg"  height="100" width="250"alt="">
          <h3>Xochilt Vanessa Romero Pereyra
            <!-- <small>estudiante</small> -->
          </h3>
          <!-- <p>¿Que funciones tienen en el equipo? ¡mantener descripción corta! ¡Agregar otro datos!</p> -->
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="  img-fluid d-block mx-auto" src="assets/jos.jpg"height="100" width="200" alt="">
          <h3>Erika Josmara Loeza Malaver
            <!-- <small>estudiante</small> -->
          </h3>
          <!-- <p>¿Que funciones tienen en el equipo? ¡mantener descripción corta! ¡Agregar otro datos!</p> -->
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="  img-fluid d-block mx-auto" src="assets/okira.jpg" height="100" width="200"alt="">
          <h3>Okira Suyuki Millan Cen
            <!-- <small>estudiante</small> -->
          </h3>
          <!-- <p>¿Que funciones tienen en el equipo? ¡mantener descripción corta! ¡Agregar otro datos!</p> -->
        </div>
      </div>

    </div>
    <!-- /.container -->
