
.capitulo{
  padding:0;
  padding-right: 20px;
 }
 .card{
   margin: 5px;
   padding:10px;
 }
.capitulo-title{
  margin:0;
  padding-left: 10px;
}
.capitulo-title a{
  color:#00796B;
}
.capitulo-resumen{
  -webkit-box-shadow: 11px -8px 22px -2px rgba(61,57,61,1);
  -moz-box-shadow: 11px -8px 22px -2px rgba(61,57,61,1);
  box-shadow: 11px -8px 22px -2px rgba(61,57,61,1);
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
   color:white;
   background-color: #26A69A;

}

.clasificacion-del{
   -webkit-box-shadow: 11px -8px 22px -2px rgba(61,57,61,1);
  -moz-box-shadow: 11px -8px 22px -2px rgba(61,57,61,1);
  box-shadow: 11px -8px 22px -2px rgba(61,57,61,1);
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color:#00796B;
    background-color: white;

}
