
.capitulo{
  padding:0;
  padding-right: 20px;
 }
 .card{
   margin: 5px;
   padding:10px;
 }
.capitulo-title{
  margin:0;
  padding-left: 10px;
}
.capitulo-title a{
  color:#00796B;
}
.capitulo-resumen{
  -webkit-box-shadow: 11px -8px 22px -2px rgba(61,57,61,1);
  -moz-box-shadow: 11px -8px 22px -2px rgba(61,57,61,1);
  box-shadow: 11px -8px 22px -2px rgba(61,57,61,1);
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
   color:white;
   background-color: #26A69A;

}

.clasificacion-del{
   -webkit-box-shadow: 11px -8px 22px -2px rgba(61,57,61,1);
  -moz-box-shadow: 11px -8px 22px -2px rgba(61,57,61,1);
  box-shadow: 11px -8px 22px -2px rgba(61,57,61,1);
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color:#00796B;
  background-color: white;
}

.btn{
  background: #00796B;
  color:white;
  margin-left: 10px;
  margin-bottom: 25px;
}


.btn:hover{
  background-color: #26A69A;
  font-size: 12;
}
ol .u {list-style-type: upper-roman;}

.article-body{
  text-align: justify;
}


@media (max-width: 575px) {
  .btn{
    background: #00796B;
    margin-left: 10px;

    margin-bottom: 20px;
  }


}
