
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>


<div class="container body">
  <div class="row subnav">
    <a routerLink="/titulos">regresar</a>
  </div>
  <div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-10" >
      <h1 class="h1"> Título {{titles.name}}</h1>
      <hr>
      <h4> {{titles.description}} </h4>
      <ngb-accordion class="capitulo" #acc="ngbAccordion" *ngFor="let chapter of titles.chapterSet.edges| keys">
        <h1 class="capitulo-title">Capítulo {{chapter.node.chapter}}</h1>
        <ngb-panel id="toggle-1" title="Capítulo {{chapter.node.chapter}}">
          <ng-template ngbPanelContent>
            <h2 class="mt-4"> {{chapter.node.description}}</h2>
            <div class="capitulo-resumen"  *ngFor="let article of chapter.node.articleSet.edges|keys">
              <h2 class="mt-4">Artículo {{article.node.number}}</h2>
              <!-- <blockquote class="blockquote">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in
                  <cite title="Source Title">Source Title</cite>
                </footer>
              </blockquote> -->
              <p>{{article.node.body}}</p>
              <hr>
            </div>
            <div class="clasificacion-del">
              <h3>Clasificación</h3>
              <hr>
              <ol>
                <li>
                  CLASIFICACIÓN POR EL ELEMENTO INTERNO O DE CULPABILIDAD: <button class="btn btn-outline-primary" (click)="open(content)">Doloso</button>
                </li>
                <li>
                  CLASIFICACIÓN POR EL ELEMENTO INTERNO O DE CULPABILIDAD: <button class="btn btn-outline-primary" (click)="open(content)">Doloso</button>
                </li>
                <li>
                  CLASIFICACIÓN POR EL ELEMENTO INTERNO O DE CULPABILIDAD: <button class="btn btn-outline-primary" (click)="open(content)">Doloso</button>
                </li>
                <li>
                  CLASIFICACIÓN POR EL ELEMENTO INTERNO O DE CULPABILIDAD: <button class="btn btn-outline-primary" (click)="open(content)">Doloso</button>
                </li>
              </ol>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

    </div>

    <!-- <div class="col-md-4"> -->
      <!-- <div class="card my-4">
        <h5 class="card-header">Búsqueda</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Búsqueda de...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">¡Buscar!</button>
            </span>
          </div>
        </div>
      </div>  -->

      <!-- Categories Widget -->
      <!-- <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Web Design</a>
                </li>
                <li>
                  <a href="#">HTML</a>
                </li>
                <li>
                  <a href="#">Freebies</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">JavaScript</a>
                </li>
                <li>
                  <a href="#">CSS</a>
                </li>
                <li>
                  <a href="#">Tutorials</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->

      <!-- Side Widget -->
      <!-- <div class="card my-4">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
          You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
        </div>
      </div> -->

    <!-- </div> -->

  </div>

</div>
